<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Modal Dialog Sample</title>

    <script src="vue.js"></script>
    <link rel="stylesheet" type="text/css" href="modal.css">

</head>
<body>
    <div id="my-modal">
            <button v-on:click="showTimeout()">Timed out Modal</button>
            <button v-on:click="showWarning()">Warning Modal</button>
        
            <div class="modal-mask" v-if="show">
                <div class="modal-wrapper">
                    <div class="modal-header">
                        {{ modalHeader }}
                    </div>
                    <div class="modal-body">
                        {{ modalMessage }}
                    </div>
                   <div class="modal-footer" v-if="isWarning === true">
                        <button @click="closeWarning">Continue Session</button>
                    </div>
                </div>
            </div>
    </div>

    <script type="text/javascript">
        new Vue({
            el: '#my-modal',
            data: function() {
            return {
                timeoutDuration: 15000,
                warningDuration: 10000,
                show: false,
                isWarning: true,
                modalHeader: '',
                modalMessage: '',
                timeoutTimer: '',
                warningTimer: ''
            }
        },
        methods: {
            showWarning: function() {
                this.modalMessage = 'Your session is about to expire due to inactivity. To keep working, select Continue Session.';
                this.modalHeader = 'Session Timeout Warning';
                this.isWarning = true;
                this.show = true;
                this.removeListeners();
            },
            showTimeout: function() {
                this.modalMessage = 'Your session has timed out due to inactivity. To keep working, please close the window and re-access your application via CONOPS.';
                this.modalHeader = 'Session Timed Out';
                this.isWarning = false;
                this.show = true;
                this.removeListeners();
            },
            closeWarning: function() {
                this.show = false;
                this.resetTimers();
            },
            setWarningTimer: function() {
                this.warningTimer = setTimeout(this.showWarning, this.warningDuration);
            },
            setTimeoutTimer: function() {
                this.timeoutTimer = setTimeout(this.showTimeout, this.timeoutDuration);
            },
            setupTimers: function() {
                this.addListeners();
                this.setWarningTimer();
                this.setTimeoutTimer();
                
            },
            resetTimers: function() {
                clearTimeout(this.warningTimer);
                clearTimeout(this.timeoutTimer);
                this.setupTimers();
            },
            addListeners: function() {
                window.addEventListener('click', this.resetTimers);
                window.addEventListener('keydown', this.resetTimers);
                window.addEventListener('wheel', this.resetTimers);
                window.addEventListener('focus', this.resetTimers);
            },
            removeListeners: function() {
                window.removeEventListener('click', this.resetTimers);
                window.removeEventListener('keydown', this.resetTimers);
                window.removeEventListener('wheel', this.resetTimers);
                window.removeEventListener('focus', this.resetTimers);
            }
        },
        //run when instance is created
        created: function() {
            this.setupTimers();            
        },
        //run when instance is destroyed
        destroyed: function() {
            this.destroyTimers();
        }
        });
    </script>
</body>
</html>